:root {
    /* Letra */
    --font-family: 'Poppins', sans-serif;
    /*Forzar Poppins en td el sistema*/
        html, body, .app, button, input, select, textarea, table, th, td, a, p, span, div {
          font-family: var(--font-family) !important;
    }
    /* Paleta de Colores */
    --color-vino: #7b1e3d;
    --color-dorado: #B59560;
    --color-dorado-claro: #B88E55;
    --color-negro: #010101;
    --color-gris: #CCCCCC;
    --color-crema: #F5E0C7;

    --color-verde: #7EF5FC;
    --color-rojo: #FDECEA;
    --color-naranja: #FFF4E5;

    --color-Texto-verde: #517D32;
    --color-Texto-rojo: #C84141;
    --color-Texto-naranja: #C77700;

    /* Variables de UI */
    --texto-oscuro: #333333;
    --texto-claro: #ffffff;
    --borde-input: #CCCCCC;
    --muted: #666;

    --bg: #ffffff;
    --border: #cfcfcf;
    --border-2: #b9b9b9;
    --text: #1f1f1f;

    /* VARIABLES DE IMÁGENES */
    --img-fondo-login: url('/img/Fondo_1.png');
    --img-degradado: url('/img/Degradado.png');
    --logo-mixto: url('/img/EscudosGEM.png');
}