<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403 Forbidden</title>
    <link rel="stylesheet" th:href="@{/css_admin/index.css}">
</head>
<body class="gob-body">

<div class="gob-card gob-error">

    <div class="gob-error-img">
        <img th:src="@{/img/EscudoColibri.png}" alt="Colibrí">
    </div>

    <h1 class="gob-error-code">403</h1>
    <p class="gob-error-text">Forbidden</p>

    <a class="gob-btn" th:href="@{/}">Volver</a>
</div>

</body>
</html>
