<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso - Servicio Social</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="login-container">

    <div class="login-left">
        <div class="overlay">
            <h2>¡BIENVENIDO!</h2>
        </div>
    </div>

    <div class="login-right">
        <div class="header">
            <img src="/img/EscudoGEM.png" alt="Gobierno" class="logo-edomex">
            <!--img src="/img/LogoGEM.png" alt="Gobierno" class="logo"-->
        </div>


        <h1>Iniciar Sesión</h1>

        <form th:action="@{/login}" method="post">
            <label for="correo">Nombre (Correo Electrónico):</label>
            <input type="email" id="correo" name="username" placeholder="usuario" required>

            <label for="contrasena">Contraseña:</label>
            <div class="password-container">
                <input type="password" id="contrasena" name="password" required>
                <span class="toggle-password" onclick="togglePassword()"> </span>
            </div>

            <button type="submit" class="btn-login">Ingresar al sistema</button>
        </form>

        <p th:if="${param.error}" class="error-msg">
            Credenciales inválidas. Por favor, inténtalo de nuevo.
        </p>

        <p style="margin-top: 20px;">
            ¿No tienes cuenta? <a th:href="@{/register}">Regístrate aquí</a>
        </p>

        <div class="text-center mt-3">
            <p>©2025 - Subdirección de Desarrollo Tecnológico</p>
        </div>
    </div>
</div>

<script>
    function togglePassword() {
        const input = document.getElementById("contrasena");
        input.type = input.type === "password" ? "text" : "password";
    }
</script>

</body>
</html>



